<%- include('partials/header'); %>
<!-- deviceList.ejs -->
<div class="container mt-2">
    <div class="row">
        <div class="col-md-8 center-block offset-md-2">
            <div class="card text-center">
                <table>
                    <thead>
                        <tr class="table-active">
                            <th>Device ID</th>
                            <th>Type</th>
                            <th>Manufactured Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < devices.length; i++) { %>
                        <tr class="">
                            <td><%= devices[i].device_ID %></td>
                            <td><%= devices[i].device_type %></td>
                            <td><%= devices[i].manufactured_Date %></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); %>
