<%- include('partial s/header') -%>
<body>
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-10 center-block offset-md-1">
                <div class="card text-center">
                    <div class="card-header">
                        <h4 style="margin: 0" class="font-weight-bold">
                            Physiological Data
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row"></div>
                        <div class="card">
                            <div class="card-header">My Attribute</div>
                            <div class="card-body">
                                <% for(var i=0; i< acc.Attribute.length ; i++)
                                {%>
                                <div
                                    class="col-md-3 mt-2 btn btn btn-primary award"
                                >
                                    <i class="bi bi-award"></i>
                                    <%= acc.Attribute[i] %>
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-10 offset-md-1">
                <div class="card text-center">
                    <div class="card-header">
                        <h4 style="margin: 0" class="font-weight-bold">
                            Permission Operation
                        </h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Reviewer Name</th>
                                    <th scope="col">Reviewer public key</th>
                                    <th scope="col">Readable Award</th>
                                    <th scope="col">Operation</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <button
                            type="button"
                            class="btn btn-primary btn-lg btn-block authorize"
                            id="authorize-btn"
                        >
                            Authorize
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div
        class="modal fade"
        id="receiveAward"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Inform</h5>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    您是否要取得於
                    <span class="font-weight-bold newAttribute"> </span>
                    獲得的證書
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                    >
                        取消
                    </button>
                    <button type="button" class="confirm btn btn-primary">
                        確認
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div
        class="modal fade"
        id="authorizeModal"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Authorize</h5>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <select class="form-select form-control" id="orgPubkey">
                            <option value="" disabled selected>
                                Select the reviewer you want to Authorize
                            </option>
                        </select>
                    </div>
                    <div class="p-2 font-weight-bold">
                        Select Authorization Data:
                    </div>
                    <div class="row mt-1">
                        <% for(var i=0; i< acc.Attribute.length ; i++) {%>
                        <div class="input-group col-md-6 mt-1">
                            <div class="input-group-text">
                                <input
                                    class="attribute_checkbox"
                                    type="checkbox"
                                    value="<%=acc.Attribute[i]%>"
                                />
                            </div>
                            <input
                                type="text"
                                class="form-control"
                                value="<%= acc.Attribute[i] %>"
                                disabled="true"
                                style="background-color: #fff"
                            />
                        </div>
                        <% } %>
                    </div>
                </div>
                <div class="modal-footer">
                    <input
                        type="submit"
                        value="submit"
                        class="btn btn-success btn-lg btn-block mt-4 authorizeSubmit"
                    />
                </div>
            </div>
        </div>
    </div>

    <div
        class="modal fade"
        id="revokePermission"
        data-backdrop="static"
        data-keyboard="false"
        tabindex="-1"
        aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Inform</h5>
                    <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to revoke the Organization
                    <span class="font-weight-bold revokeOrgName"> </span>
                    's access rights?
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                    >
                        cancel
                    </button>
                    <button type="button" class="revokeConfirm btn btn-primary">
                        confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $("#authorize-btn").on("click", async function (e) {
        $("#authorizeModal").modal("show");
    });
</script>
<%- include('partials/footer') -%>
